# DSR Batch 28 - Team 3 Rossmann Mini-competition by Eero Olli, Jose Soldado, Hazel Wat

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
import category_encoders as ce

#Profilibg to check data
from pandas_profiling import ProfileReport

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import power_transform
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

from datetime import datetime 
from datetime import date

In [2]:
pip list

Package                 Version
----------------------- --------------------
absl-py                 0.13.0
alabaster               0.7.8
anyio                   3.3.2
apturl                  0.5.2
argon2-cffi             21.1.0
astroid                 2.3.3
astunparse              1.6.3
attrs                   19.3.0
Babel                   2.6.0
backcall                0.1.0
bcrypt                  3.1.7
bleach                  3.1.1
blinker                 1.4
Brlapi                  0.7.0
cachetools              4.2.2
category-encoders       2.3.0
certifi                 2019.11.28
cffi                    1.14.6
chardet                 3.0.4
charset-normalizer      2.0.6
chart-studio            1.1.0
clang                   5.0
click                   8.0.1
cloudpickle             1.3.0
colorama                0.4.3
colorlover              0.3.0
command-not-found       0.3
cramjam                 2.4.0
cryptography            2.8
cufflinks               0.17.3
cupshelpers             1.0
cycler                  0.10.0
dbus-python             1.2.16
decorator               4.4.2
defer                   1.0.6
defusedxml              0.6.0
distro                  1.4.0
distro-info             0.23ubuntu1
docutils                0.16
duplicity               0.8.12.0
entrypoints             0.3
fasteners               0.14.1
fastparquet             0.7.1
Flask                   2.0.2
flatbuffers             1.12
fsspec                  2021.10.0
future                  0.18.2
gast                    0.4.0
google-auth             1.35.0
google-auth-oauthlib    0.4.5
google-pasta            0.2.0
grpcio                  1.39.0
h5py                    3.1.0
html5lib                1.0.1
htmlmin                 0.1.12
httplib2                0.14.0
idna                    2.8
ImageHash               4.2.1
imagesize               1.2.0
importlib-metadata      1.5.0
ipykernel               5.2.0
ipython                 7.13.0
ipython-genutils        0.2.0
ipywidgets              7.6.5
isort                   4.3.4
itsdangerous            2.0.1
jedi                    0.17.1
Jinja2                  3.0.1
joblib                  1.0.1
json5                   0.9.6
jsonschema              3.2.0
jupyter                 1.0.0
jupyter-client          6.1.2
jupyter-console         6.0.0
jupyter-core            4.6.3
jupyter-server          1.11.0
jupyterlab              3.1.13
jupyterlab-server       2.8.2
jupyterlab-widgets      1.0.2
kaleido                 0.2.1
keras                   2.6.0
Keras-Preprocessing     1.1.2
keyring                 18.0.1
kiwisolver              1.3.1
language-selector       0.1
launchpadlib            1.10.13
lazr.restfulclient      0.14.2
lazr.uri                1.0.3
lazy-object-proxy       1.4.3
lockfile                0.12.2
logilab-common          1.4.3
louis                   3.12.0
macaroonbakery          1.3.1
Mako                    1.1.0
Markdown                3.3.4
MarkupSafe              2.0.1
matplotlib              3.4.2
mccabe                  0.6.1
missingno               0.5.0
mistune                 0.8.4
mock                    3.0.5
monotonic               1.5
more-itertools          4.2.0
multimethod             1.6
nbclassic               0.3.2
nbconvert               5.6.1
nbformat                5.0.4
netifaces               0.10.4
networkx                2.6.3
nltk                    3.6.2
notebook                6.0.3
numpy                   1.19.5
numpydoc                0.7.0
oauthlib                3.1.0
olefile                 0.46
opt-einsum              3.3.0
packaging               20.3
pandas                  1.2.4
pandas-profiling        3.1.0
pandocfilters           1.4.2
paramiko                2.6.0
parso                   0.7.1
patsy                   0.5.2
pbr                     5.6.0
pexpect                 4.6.0
phik                    0.12.0
pickleshare             0.7.5
Pillow                  7.0.0
pip                     20.0.2
plotly                  5.0.0
prometheus-client       0.7.1
prompt-toolkit          2.0.10
protobuf                3.17.3
psutil                  5.5.1
ptyprocess              0.7.0
pyasn1                  0.4.8
pyasn1-modules          0.2.8
pycairo                 1.16.2
pycodestyle             2.5.0
pycparser               2.20
pycups                  1.9.73
pydantic                1.8.2
pyflakes                2.1.1
Pygments                2.3.1
PyGObject               3.36.0
PyJWT                   1.7.1
pylint                  2.4.4
pymacaroons             0.13.0
PyNaCl                  1.3.0
pyparsing               2.4.7
PyQt5                   5.14.1
pyRFC3339               1.1
pyrsistent              0.15.5
pysvn                   1.9.9
python-apt              2.0.0+ubuntu0.20.4.6
python-dateutil         2.7.3
python-debian           0.1.36ubuntu1
pytz                    2019.3
PyWavelets              1.1.1
pyxdg                   0.26
PyYAML                  5.3.1
pyzmq                   18.1.1
QtAwesome               0.4.4
qtconsole               5.1.1
QtPy                    1.9.0
regex                   2021.8.3
reportlab               3.5.34
requests                2.26.0
requests-oauthlib       1.3.0
requests-unixsocket     0.2.0
retrying                1.3.3
roman                   2.0.0
rope                    0.10.5
rsa                     4.7.2
scikit-learn            0.24.2
scipy                   1.7.1
screen-resolution-extra 0.0.0
seaborn                 0.11.1
SecretStorage           2.3.1
Send2Trash              1.5.0
setuptools              45.2.0
simplejson              3.16.0
sip                     4.19.21
six                     1.15.0
sniffio                 1.2.0
Sphinx                  1.8.5
spyder                  3.3.6
spyder-kernels          0.5.2
statsmodels             0.13.0
systemd-python          234
tangled-up-in-unicode   0.1.0
tenacity                7.0.0
tensorboard             2.6.0
tensorboard-data-server 0.6.1
tensorboard-plugin-wit  1.8.0
tensorflow              2.6.0
tensorflow-estimator    2.6.0
termcolor               1.1.0
terminado               0.12.1
testpath                0.4.4
testresources           2.0.1
threadpoolctl           2.2.0
thrift                  0.15.0
tornado                 6.1
tqdm                    4.62.1
traitlets               4.3.3
typing-extensions       3.7.4.3
ubuntu-advantage-tools  27.2
ubuntu-drivers-common   0.0.0
ufw                     0.36
unattended-upgrades     0.1
urllib3                 1.25.8
usb-creator             0.3.7
visions                 0.7.4
wadllib                 1.3.3
wcwidth                 0.1.8
webencodings            0.5.1
websocket-client        1.2.1
Werkzeug                2.0.1
wheel                   0.37.0
widgetsnbextension      3.5.1
wrapt                   1.12.1
xgboost                 1.4.2
xkit                    0.0.0
zipp                    1.0.0

Note: you may need to restart the kernel to use updated packages.

In [3]:
!python --version

Python 3.6.13 :: Anaconda, Inc.

In [4]:
# reading two csv files
train = pd.read_csv('data/train.csv',dtype={'Store':'string', 'StateHoliday':'string'})
store = pd.read_csv('data/store.csv',dtype={'Store':'string', 'StoreType':'string', 'Assortment':'string'})
  
# using merge function by setting how='inner'
total = pd.merge(train, store, on='Store', how='inner')

In [5]:
total

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,2013-01-01,1115,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1,2013-01-02,1115,3.0,3697.0,305.0,1.0,0.0,0,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
2,2013-01-03,1115,4.0,4297.0,300.0,1.0,0.0,0,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
3,2013-01-04,1115,5.0,4540.0,326.0,1.0,0.0,0,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
4,2013-01-05,1115,6.0,4771.0,339.0,1.0,0.0,0,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618468,2014-06-26,127,4.0,3335.0,480.0,1.0,0.0,0,0.0,d,a,1350.0,12.0,2005.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
618469,2014-06-27,127,5.0,4724.0,591.0,1.0,0.0,0,0.0,d,a,1350.0,12.0,2005.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
618470,2014-06-28,127,6.0,5398.0,716.0,1.0,0.0,0,0.0,d,a,1350.0,12.0,2005.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
618471,2014-06-29,127,7.0,0.0,0.0,0.0,0.0,0,0.0,d,a,1350.0,12.0,2005.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
618472,2014-06-30,127,1.0,12410.0,1119.0,1.0,1.0,<NA>,0.0,d,a,1350.0,12.0,2005.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"

In [6]:
#Train test split processing
X = total.drop(columns='Sales')
y = total.loc[:,'Sales']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
#Merge train data (X and y) to process them together
df_train = pd.concat([X_train,y_train], axis=1)
df_test = pd.concat([X_test, y_test], axis=1)

In [9]:
#prof1 = ProfileReport(df_train)

In [10]:
#prof1.to_file(output_file='prof1.html')

In [11]:
#Drop na values in sales

df_train = df_train.dropna(subset =['Sales'])
df_test = df_test.dropna(subset =['Sales'])

#Drop columns Customers and PromoInterval

df_train = df_train.drop(columns=['Customers','PromoInterval'])
df_test = df_test.drop(columns=['Customers','PromoInterval'])

## Data Preparation

In [12]:
# Competitor distance : missing values
df_train['CompetitionDistance'] = df_train.loc[:,'CompetitionDistance'].fillna(df_train['CompetitionDistance'].median())                                                                            
df_test['CompetitionDistance']= df_test.loc[:,'CompetitionDistance'].fillna(df_test['CompetitionDistance'].median())

In [13]:
# Check how many stores has missing values on Open column
df_train['Open'].isna().sum()

14391

In [14]:
#Open: Referring to Sales to fill NA values

df_train.loc[df_train['Sales']> 0, 'Open']=1
df_train.loc[df_train['Sales']== 0, 'Open']=0

df_test.loc[df_test['Sales']> 0, 'Open']=1
df_test.loc[df_test['Sales']== 0, 'Open']=0

In [15]:
df_train['Open'].value_counts()

1.0    397880
0.0     82156
Name: Open, dtype: int64

In [16]:
#SatateHoloiday: fillna with 0 and get a string
df_train['StateHoliday'] = df_train.loc[:,'StateHoliday'].fillna('0')
df_train['StateHoliday'] = df_train['StateHoliday'].replace(0.0, '0')

df_test['StateHoliday'] = df_test.loc[:,'StateHoliday'].fillna('0')
df_test['StateHoliday'] = df_test['StateHoliday'].replace(0.0, '0')

In [17]:
df_train.StateHoliday.unique()

<StringArray>
['0', 'a', 'c', 'b']
Length: 4, dtype: string

In [18]:
df_train['SchoolHoliday'].isnull().value_counts()

False    465424
True      14612
Name: SchoolHoliday, dtype: int64

In [19]:
df_train["SchoolHoliday"].isna().value_counts()

False    465424
True      14612
Name: SchoolHoliday, dtype: int64

In [20]:
#Schoolholiday fillna using 0
df_train['SchoolHoliday'] = df_train['SchoolHoliday'].fillna(0)
df_test['SchoolHoliday'] = df_test['SchoolHoliday'].fillna(0)

In [21]:
#Tranform Data into datatime pd to get the day, week and year
df_train['Sales_date'] = pd.to_datetime(df_train['Date'])
df_train['Year'] = pd.DatetimeIndex(df_train['Date']).year
df_train['Month'] = pd.DatetimeIndex(df_train['Date']).month
df_train['Day'] = pd.DatetimeIndex(df_train['Date']).day

df_test['Sales_date'] = pd.to_datetime(df_test['Date'])
df_test['Year'] = pd.DatetimeIndex(df_test['Date']).year
df_test['Month'] = pd.DatetimeIndex(df_test['Date']).month
df_test['Day'] = pd.DatetimeIndex(df_test['Date']).day

In [22]:
df_train.head()

,Date,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,Sales,Sales_date,Year,Month,Day
290482,2013-11-19,175,2.0,1.0,1.0,0,0.0,c,a,4130.0,NaN,NaN,0,NaN,NaN,5982.0,2013-11-19,2013,11,19
139915,2013-04-13,468,6.0,1.0,0.0,0,0.0,c,c,5260.0,9.0,2012.0,0,NaN,NaN,8256.0,2013-04-13,2013,4,13
318657,2013-07-22,941,1.0,1.0,0.0,0,0.0,a,a,1200.0,12.0,2011.0,1,31.0,2013.0,4714.0,2013-07-22,2013,7,22
361617,2014-01-06,894,1.0,1.0,1.0,0,1.0,a,a,190.0,11.0,2012.0,0,NaN,NaN,13744.0,2014-01-06,2014,1,6
374646,2013-05-24,975,5.0,1.0,0.0,0,0.0,a,c,9630.0,NaN,NaN,1,14.0,2011.0,7308.0,2013-05-24,2013,5,24

In [23]:
df_train['Promo'].isna().value_counts()

False    465545
True      14491
Name: Promo, dtype: int64

In [24]:
#Promo missing values (0)
df_train['Promo'] = df_train.loc[:,'Promo'].fillna(0)
df_test['Promo'] = df_test.loc[:,'Promo'].fillna(0)

In [25]:
df_train['Promo2'].isna().value_counts()

False    480036
Name: Promo2, dtype: int64

In [26]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 618473 entries, 0 to 618472
Data columns (total 18 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Date                       618473 non-null  object
 1   Store                      618473 non-null  string
 2   DayOfWeek                  600036 non-null  float64
 3   Sales                      600028 non-null  float64
 4   Customers                  599957 non-null  float64
 5   Open                       599832 non-null  float64
 6   Promo                      599791 non-null  float64
 7   StateHoliday               599873 non-null  string
 8   SchoolHoliday              599686 non-null  float64
 9   StoreType                  618473 non-null  string
 10  Assortment                 618473 non-null  string
 11  CompetitionDistance        616838 non-null  float64
 12  CompetitionOpenSinceMonth  422043 non-null  float64
 13  CompetitionOpenSinceYear   422043 non-null  float64
 14  Promo2                     618473 non-null  int64
 15  Promo2SinceWeek            314828 non-null  float64
 16  Promo2SinceYear            314828 non-null  float64
 17  PromoInterval              314828 non-null  object
dtypes: float64(11), int64(1), object(2), string(4)
memory usage: 89.7+ MB

In [27]:
def create_a_timeseries_dummy_from_weeks(df, var_week, var_year, date_new, var_dummy):
    #Create a date out of the Promo2 variables so that we can create a time-series variable for Promo2
    df['temp_date'] = df[var_year] * 1000 + df[var_week]  * 10 + 0
    df[date_new] = pd.to_datetime(df['temp_date'], format='%Y%W%w')
    ## Create an array to Group the data by group. and make dummy Store by Store
    for Store, grouped in df.groupby('Store'):
      if [df['Sales_date'] >= df[date_new]]:
        df[var_dummy] = 1
      else:
        df[var_dummy] = 0
    df = df.drop(columns=['temp_date'])
    df.head()

    
def create_a_timeseries_dummy_from_months(df, var_month, var_year, date_new, var_dummy):
    #Create a date out of the Competition variables so that we can create a time-series variable for Competitioin
    df['temp_date'] = df[var_year] * 1000 + df[var_month]  * 10 + 0
    ## Create an array to Group the data by group. and make dummy Store by Store
    df[date_new] = pd.to_datetime(df['temp_date'], format='%Y%m%w')
    for Store, grouped in df.groupby('Store'):
      if [df['Sales_date'] >= df[date_new]]:
        df[var_dummy] = 1
      else:
        df[var_dummy] = 0
    df = df.drop(columns=['temp_date'])    
    df.head()

In [28]:
create_a_timeseries_dummy_from_weeks(df=df_train        ,
                          var_week='Promo2SinceWeek'  ,
                          var_year='Promo2SinceYear'  ,
                          date_new='Promo2_start_date',
                          var_dummy='Promo2_yes'
                                    )

create_a_timeseries_dummy_from_weeks(df=df_test        ,
                          var_week='Promo2SinceWeek'  ,
                          var_year='Promo2SinceYear'  ,
                          date_new='Promo2_start_date',
                          var_dummy='Promo2_yes'
                                    )

In [29]:
create_a_timeseries_dummy_from_months(df=df_train                  ,
                          var_month='CompetitionOpenSinceMonth'  ,
                          var_year='CompetitionOpenSinceYear'   ,
                          date_new='Competition_start_date'    ,
                          var_dummy='Competition_yes'
                                    )

create_a_timeseries_dummy_from_months(df=df_test                 ,
                          var_month='CompetitionOpenSinceMonth'  ,
                          var_year='CompetitionOpenSinceYear'   ,
                          date_new='Competition_start_date'    ,
                          var_dummy='Competition_yes'
                                    )

In [30]:
df_train

,Date,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,...,Sales,Sales_date,Year,Month,Day,temp_date,Promo2_start_date,Promo2_yes,Competition_start_date,Competition_yes
290482,2013-11-19,175,2.0,1.0,1.0,0,0.0,c,a,4130.0,...,5982.0,2013-11-19,2013,11,19,NaN,NaT,1,NaT,1
139915,2013-04-13,468,6.0,1.0,0.0,0,0.0,c,c,5260.0,...,8256.0,2013-04-13,2013,4,13,2012090.0,NaT,1,2012-09-01,1
318657,2013-07-22,941,1.0,1.0,0.0,0,0.0,a,a,1200.0,...,4714.0,2013-07-22,2013,7,22,2011120.0,2013-08-11,1,2011-12-01,1
361617,2014-01-06,894,1.0,1.0,1.0,0,1.0,a,a,190.0,...,13744.0,2014-01-06,2014,1,6,2012110.0,NaT,1,2012-11-01,1
374646,2013-05-24,975,5.0,1.0,0.0,0,0.0,a,c,9630.0,...,7308.0,2013-05-24,2013,5,24,NaN,2011-04-10,1,NaT,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110268,2014-01-13,536,1.0,1.0,0.0,0,0.0,a,c,4700.0,...,6523.0,2014-01-13,2014,1,13,2002090.0,2013-08-11,1,2002-09-01,1
259178,2014-05-09,256,5.0,1.0,0.0,0,0.0,a,c,80.0,...,10356.0,2014-05-09,2014,5,9,2005090.0,2014-03-16,1,2005-09-01,1
365838,2013-06-25,873,2.0,1.0,0.0,0,0.0,a,a,2040.0,...,2763.0,2013-06-25,2013,6,25,2008110.0,NaT,1,2008-11-01,1
131932,2014-04-05,483,6.0,1.0,0.0,0,0.0,a,c,2310.0,...,1581.0,2014-04-05,2014,4,5,2011090.0,2010-04-04,1,2011-09-01,1
121958,2014-01-27,433,1.0,1.0,0.0,0,0.0,a,c,30030.0,...,4370.0,2014-01-27,2014,1,27,2010110.0,NaT,1,2010-11-01,1

In [31]:
#Drop columns
df_train = df_train.drop(columns=['Promo2_start_date','Competition_start_date','temp_date','Date', 'Promo2', 
                                  'Sales_date','CompetitionOpenSinceYear',
    'Promo2SinceWeek','Promo2SinceYear','CompetitionOpenSinceMonth'])

df_test = df_test.drop(columns=['Promo2_start_date','Competition_start_date','temp_date','Date', 'Promo2',
                                'Sales_date','CompetitionOpenSinceYear','Promo2SinceWeek','Promo2SinceYear',
                                'CompetitionOpenSinceMonth'])

In [32]:
df_train

,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,Sales,Year,Month,Day,Promo2_yes,Competition_yes
290482,175,2.0,1.0,1.0,0,0.0,c,a,4130.0,5982.0,2013,11,19,1,1
139915,468,6.0,1.0,0.0,0,0.0,c,c,5260.0,8256.0,2013,4,13,1,1
318657,941,1.0,1.0,0.0,0,0.0,a,a,1200.0,4714.0,2013,7,22,1,1
361617,894,1.0,1.0,1.0,0,1.0,a,a,190.0,13744.0,2014,1,6,1,1
374646,975,5.0,1.0,0.0,0,0.0,a,c,9630.0,7308.0,2013,5,24,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110268,536,1.0,1.0,0.0,0,0.0,a,c,4700.0,6523.0,2014,1,13,1,1
259178,256,5.0,1.0,0.0,0,0.0,a,c,80.0,10356.0,2014,5,9,1,1
365838,873,2.0,1.0,0.0,0,0.0,a,a,2040.0,2763.0,2013,6,25,1,1
131932,483,6.0,1.0,0.0,0,0.0,a,c,2310.0,1581.0,2014,4,5,1,1
121958,433,1.0,1.0,0.0,0,0.0,a,c,30030.0,4370.0,2014,1,27,1,1

In [33]:
df_train.DayOfWeek = df_train["DayOfWeek"].fillna(1)
df_test.DayOfWeek = df_test["DayOfWeek"].fillna(1)

### Encodings

In [34]:
# these are already dummies 'Open','Promo', 'SchoolHoliday',,'Promo2' 'DayOfWeek',
ce_one = ce.OneHotEncoder(cols=['StateHoliday','StoreType','Assortment'])  #instantiate the encoder

df_train = ce_one.fit_transform(df_train)
df_test = ce_one.transform(df_test)

In [35]:
df_train.head()

,Store,DayOfWeek,Open,Promo,StateHoliday_1,StateHoliday_2,StateHoliday_3,StateHoliday_4,SchoolHoliday,StoreType_1,...,Assortment_1,Assortment_2,Assortment_3,CompetitionDistance,Sales,Year,Month,Day,Promo2_yes,Competition_yes
290482,175,2.0,1.0,1.0,1,0,0,0,0.0,1,...,1,0,0,4130.0,5982.0,2013,11,19,1,1
139915,468,6.0,1.0,0.0,1,0,0,0,0.0,1,...,0,1,0,5260.0,8256.0,2013,4,13,1,1
318657,941,1.0,1.0,0.0,1,0,0,0,0.0,0,...,1,0,0,1200.0,4714.0,2013,7,22,1,1
361617,894,1.0,1.0,1.0,1,0,0,0,1.0,0,...,1,0,0,190.0,13744.0,2014,1,6,1,1
374646,975,5.0,1.0,0.0,1,0,0,0,0.0,0,...,0,1,0,9630.0,7308.0,2013,5,24,1,1

In [36]:
df_train.isnull().sum()

Store                  0
DayOfWeek              0
Open                   0
Promo                  0
StateHoliday_1         0
StateHoliday_2         0
StateHoliday_3         0
StateHoliday_4         0
SchoolHoliday          0
StoreType_1            0
StoreType_2            0
StoreType_3            0
StoreType_4            0
Assortment_1           0
Assortment_2           0
Assortment_3           0
CompetitionDistance    0
Sales                  0
Year                   0
Month                  0
Day                    0
Promo2_yes             0
Competition_yes        0
dtype: int64

In [37]:
df_train[df_train["Sales"] == 0].index

Int64Index([   166,  45019, 311788, 323992, 514020,  37974, 258518, 532784,
            335527, 246000,
            ...
            208261, 256840, 331236, 500186, 421909, 347449, 214176, 327069,
            278167, 521430],
           dtype='int64', length=82156)

In [38]:
df_train = df_train.drop(df_train[df_train["Sales"] == 0].index)
df_test = df_test.drop(df_test[df_test["Sales"] == 0].index)

In [39]:
df_train.shape

(397880, 23)

In [40]:
#Split data
X_train = df_train.drop(columns=['Sales'])
y_train = np.asarray(df_train.loc[:,'Sales'])

X_test = df_test.drop(columns=['Sales'])
y_test = np.asarray(df_test.loc[:,'Sales'])

In [41]:
X_train.dtypes

Store                   string
DayOfWeek              float64
Open                   float64
Promo                  float64
StateHoliday_1           int64
StateHoliday_2           int64
StateHoliday_3           int64
StateHoliday_4           int64
SchoolHoliday          float64
StoreType_1              int64
StoreType_2              int64
StoreType_3              int64
StoreType_4              int64
Assortment_1             int64
Assortment_2             int64
Assortment_3             int64
CompetitionDistance    float64
Year                     int64
Month                    int64
Day                      int64
Promo2_yes               int64
Competition_yes          int64
dtype: object

In [42]:
# Scale 
scal = StandardScaler()
X_train = scal.fit_transform(X_train)
X_test = scal.transform(X_test)

## Model Development

#### Linear Regression

#### Random Forest Model

In [43]:
#Model Random Forest
from sklearn.ensemble import RandomForestRegressor

In [44]:
#Prediction on training Data
clf = RandomForestRegressor(n_estimators=300, n_jobs=2)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_train)


y_pred_test = clf.predict(X_test)

In [45]:
def metric(preds, actuals):
    preds = preds.reshape(-1)
    actuals = actuals.reshape(-1)
    assert preds.shape == actuals.shape
    return 100 * np.linalg.norm((actuals - preds) / actuals) / np.sqrt(preds.shape[0])

In [47]:
train_s = metric(y_pred,y_train)
test_s = metric(y_pred_test,y_test)

In [48]:
train_s

8.328115922931358

In [49]:
test_s

19.268521991085322

### Grid Search CV

In [ ]:
# Create the parameter grid based on the results of random search
#from sklearn.model_selection import GridSearchCV

#param_grid = {
    'learning_rate': [0.1,0.15,0.05],
    'max_depth': [3, 5, 7],
    'n_estimators': [800, 1000, 1500]
}

# Create a based model
#xgbr_cv = xgb.XGBRegressor(n_jobs=-1)# Instantiate the grid search model

#grid_search = GridSearchCV(estimator = xgbr_cv, param_grid = param_grid,
                          cv = 3)
# Fit the grid search to the data
#grid_search.fit(X_train, y_train)

In [ ]:
#grid_accuracy = evaluate(best_grid, X_test, y_test)

### Plot Graph

In [ ]:
# Compute the correlation matrix 
# exclude 'Open' variable
#corr_all = df_randomf.drop('Open', axis = 1).corr()

# Generate a mask for the upper triangle
#mask = np.zeros_like(corr_all, dtype = np.bool)
#mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
#f, ax = plt.subplots(figsize = (11, 9))

# Draw the heatmap with the mask and correct aspect ratio
#sns.heatmap(corr_all, mask = mask,
            square = True, linewidths = .5, ax = ax, cmap = "BuPu")      
#plt.show()